# Ignore things we can build
*.jar
*.war
*.ear
*.class
walnut.zip

# Gradle build
build/
.gradle

# Avoid ignoring following Gradle configuration an tools
!gradle-wrapper.properties
!gradle-wrapper.jar

# Integrated Development Environments
# IntelliJ
.idea/
Walnut.iml

# vscode
.vscode/

# Eclipse
.project
.classpath
classes/

# Vim
*.swp
*.swo

# Mac-specific files
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Result files
Result/
Automata Library/
Test Results/
Custom Bases/
Word Automata Library/
Morphism Library/
Transducer Library/

# Directory for experiments
scratch/

